.navBg{
    background: rgba(255, 255, 255, 0.85);
}

.navbar{
    transition: .5s;
}

.navBg > div > div > a,
.navBg > div > div > ul > li > a {
    color: #333333;
}

a, label{
    cursor: pointer;
    text-decoration-line: none !important;
    text-decoration: none !important;
}

a, label{
    font-weight: bolder;
}