<nav class="navbar navbar-default navbar-custom navbar-fixed-top" [class.navBg]='bgNavbar' (window:scroll)="onScroll($event)">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" *ngIf="questions().length!=0" routerLink="/home">{{appName}}  {{goodCounter()}}/{{allCounter()}}  {{clockText()}}</a>
      <a class="navbar-brand" *ngIf="questions().length==0 && err==false" routerLink="/home">{{appName}}</a>
      <a class="navbar-brand" *ngIf="questions().length==0 && err==true" routerLink="/home">{{appName}} -----Błędna baza-----</a>
    </div>
    <div class="navbar-header">

    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="questions().length!=0 && homeControler">
          <a (click)="randomSequence()"><i class="fa fa-refresh" aria-hidden="true"></i> Losowa kolejność</a>
        </li>
        <li *ngIf="homeControler == true">
          <a> <label> <i class="fa fa-upload" aria-hidden="true"></i> {{fileName}}
          <input  style="display: none;" id="file" type="file" multiple="multiple" (change)="fileChanged($event)">
        </label> </a>
        </li>
        <li *ngIf="homeControler == false">
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/contact">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
