<header class="intro-header" style="background-image: url('../../../assets/img/post-bg.jpg'); margin-top: -60px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Kontakt</h1>
                    <hr class="small">
                    <span class="subheading">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni molestiae vero consequatur eaque libero. Perspiciatis, quibusdam autem ratione, fugiat animi ipsam consequatur aliquam commodi aperiam maiores tempora tenetur illum delectus.</span>
                </div>
            </div>
        </div>
    </div>
</header>

