.panel-title{
    font-size: 18px;
    font-weight: 600;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

.answer{
    margin: 0; 
    font-size: 18px;
}

.answer:hover{
    color: #0085a1;
}

button{
    font-weight: normal;
}

.panel:hover{
    box-shadow: 0 0 20px #0085a1;
}

.panel{
    transition: .2s;
}

.underline {
    text-decoration: underline;
}