<header class="intro-header" style="background-image: url('../../../assets/img/home-bg2.jpg'); margin-top: -60px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Testownik</h1>
                    <hr class="small">
                    <span class="subheading">Ostatnia nadzieja na zaliczenie</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div *ngIf="isLoaded == false" style="text-align: center; padding-top: 5em">
    <h1><i class="fa fa-spinner fa-spin"></i></h1>
</div>
<p></p>
<div class="list-group container" *ngIf="isLoaded ==true && questions().length != 0">

    <div class="container" style="margin-top: -30px;">
        <div class="col-md-4"><i class="fa fa-database fa-2x" aria-hidden="true"></i> Ilość Pytań w Bazie: {{questions().length}}</div>
        <div class="col-md-4" style="text-align: center"><i class="fa fa-line-chart fa-2x" aria-hidden="true"></i> Poprawne {{goodCounter()}}/{{allCounter()-goodCounter()}} Złe</div>
        <div class="col-md-4" style="text-align: right"><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i> Czas trwania: {{clockText()}}</div>
    </div>

    <hr>

    <div class="panel panel-primary" *ngFor="let question of questions();">
        <div class="panel-heading">
            <h4 class="panel-title">{{question.question}}</h4>
        </div>
        <div class="panel-body" [class.alert-danger]="question.result==0" [class.alert-success]="question.result==1">
            <div id="{{question.index}}" *ngFor="let answer of question.answers;">
                <div class="checkbox">
                    <label [class.label-success]="answer.state==1">
                <input type="checkbox" [checked]="answer.checked" (change)="answer.checked = !answer.checked">
                <h3 class="answer">{{answer.answer}}</h3>
            </label>
                </div>
            </div>
            <button class="btn btn-primary" (click)="check(question.index)">Sprawdź <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>